<div>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Id</th><th>Name </th><th>Available Quantity</th><th>Creation Date</th> <th>Creation Time</th>
    </tr>
    </thead>
    <tbody>
    <tr app-product-list-item *ngFor="let product of products" [product]="product"></tr>
    </tbody>
  </table>
</div>
