
<div style="width: 250px">
  <form (ngSubmit)="search()" class="form-inline">
    <div>
      <label for="search-by-categoryName" class='text-white'>Sortiraj:</label>
      <select class="form-control  form-control-borderless" name="search-by-sortBy" type="select" [(ngModel)]="searchTerm" >
        <option value="">   </option>
        <option value="imeKat1">Kategorija 1</option>
        <option value="imeKat2">Kategorija 2</option>
        <option value="imeKat3">Kategorija3</option>

      </select>
    </div>

    <div class="btn-group">
      <input class="btn btn-primary" type="submit" style="padding: 8px;" value="Traži" />
      <button class="btn btn-warning" type="button" (click)="reset()">Poništi pretragu</button>
    </div>
  </form>
</div>
