<div class="mx-lg-5">
  <button class="btn btn-success "(click)="showForm=!showForm">Show Add Jelo Form</button>
</div>

<br><br>
<div [hidden]="!showForm" class="mx-5" style="width: 250px" >
<form (ngSubmit)="addProduct()">
  <div class="form-group">
    <label > Name</label>
    <input class="form-control" name="product-naziv" type="text" [(ngModel)] = "productToAdd.name" placeholder="Naziv"/>
  </div>
  <div class="form-group">
    <label >Description: </label>
    <input class="form-control" name="product-description" type="text" [(ngModel)] = "productToAdd.description" placeholder="0"/>
  </div>

  <div class="form-group">
    <label >Price: </label>
    <input class="form-control" name="product-price" type="number" [(ngModel)] = "productToAdd.price" placeholder="0"/>
  </div>

  <div class="form-group">
    <label >Available Quantity: </label>
    <input class="form-control" name="product-availableQuantity" type="number" [(ngModel)] = "productToAdd.availableQuantity" placeholder="0"/>
  </div>

  <div class="form-group">
    <label >Picture URL: </label>
    <input class="form-control" name="product-picturesURLs" type="number" [(ngModel)] = "productToAdd.picturesURLs" placeholder="0"/>
  </div>

  <label for="product-categoryName">Kategorija:</label>
  <select class="form-control" id="product-categoryName" required [(ngModel)]="productToAdd.category" name="jelovnik-kategorijaNaziv">
    <option *ngFor="let category of categories;" [value]="category.id">{{category.name}}</option>
  </select>
  <input class="btn btn-primary" type="submit" value="Dodaj"/>
</form>
</div>

