

<app-search (setSearchTerm)="search($event)"></app-search>

<app-product-list [products]="products"></app-product-list>


<app-add-product (productAdded)="addProduct($event)" [categories]="categories" ></app-add-product>

